* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Syne Mono', monospace;

}

html {
    height: 100%;
}

body {
    height: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

p {
    margin: .5rem 0;
}

em {
    color:#BC3FA3;
}

.button {
    border: 3px darkslategray solid;
    margin: 2rem 1rem;
    padding: .5rem 2.5rem;
    cursor: pointer;
    border-color: #F92C57;
    font-weight: 600;
}

main {
    /* position: relative; */
    height: 100%;
    background: url(./img/T_14-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.story-section {
    /* position: absolute; */
    height: 100%;
    width: 100%;

    /* margin-left: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    transition: margin-left 1s ease;

    color: rgb(235, 235, 235);
    background: #26002D;
}

.story-text {
    max-width: 38rem;
}

input {
    margin: 1rem 0;
    padding: .2rem 0 .2rem .5rem;

    border: none;
    border-bottom: .5px rgb(235, 235, 235) solid;
    background: #26002D;

    outline: none;
}

.start-page {
    color: rgb(235, 235, 235);
    background: none;
    
}
