* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;

}

html {
    height: 100%;
}

body {
    height: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

p {
    margin: .5rem 0;
}

em {
    color:#BC3FA3;
}

.button {
    border: 3px #731A38 solid;
    margin: 2rem 1rem;
    padding: .5rem 2.5rem;
    cursor: pointer;
    border-color: #731A38;
    font-weight: 600;

    transition: all .5s ease;
}

.button:hover {
    background: #731A3888;
    border-color: rgb(235, 235, 235);
}

main {
    position: relative;
    height: 100%;
    background: url(./img/T_14-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

.story-section {
    position: absolute;
    height: 100%;
    width: 100%;

    padding: 0 1.5rem;
    margin-left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    transition: margin-left 1s ease;

    color: rgb(235, 235, 235);
    background: #26002DDD;
}

.story-text {
    max-width: 38rem;
}

input {
    margin: 1rem 0;
    padding: .5rem 0 .5rem .5rem;
    width: 15rem;

    border: none;
    border-bottom: .5px rgb(235, 235, 235) solid;
    background: #26002D;
    color: rgb(235, 235, 235);;

    outline: none;
}

.start-page {
    color: rgb(235, 235, 235);
    background: none;
    margin-left:0;    
}
